nextflowVersion = '1.2+' 
process.scratch = true

profiles {
  docker {
    docker {
      enabled = true
    }
  }
  kubernetes {
    process.executor = 'k8s'
    process.scratch = true
    k8s {
      debug.yaml = true      
      pod = [[runAsUser: 2801], [env: 'AWS_ACCESS_KEY', secret: 'pride/AWS_ACCESS_KEY'], [env: 'AWS_SECRET_KEY', secret: 'pride/AWS_SECRET_KEY'], [env: 's3fs_path_style_access', value: 'true']]
    }
    aws {
      region = 'eu-west-2'
      client {
        endpoint = 'https://s3.embassy.ebi.ac.uk'
        protocol = 'HTTPS'        
      }
    }
  }
}